.clothes {
    margin-top: 20px;
    min-height: calc(100vh - 220px)
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #FAF0E6;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.link:hover {
    color: #352F44;
}

