header {
    padding: 30px 0;
    background-color: #4c4460;
}

.header_content {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: #f0f8ff;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.shopping_cart {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background: url("../../assets/images/shopping-cart.png") center/cover no-repeat;
    position: relative;
}

.logo {
    display: block;
    width: 180px;
    background: url("../../assets/images/logo.png") center/cover no-repeat;
}

.count {
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 50%;
    background-color: #FF6347;
    align-items: center;
    justify-content: center;
    top: -12px;
    right: -18px;
    color: white;
    display: none;
}

.showCount {
    display: flex;
}